@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 0%;
    --foreground: 210 20% 98%;

    --card: 0, 0%, 0%;
    --card-foreground: 210 20% 98%;

    --popover: 0, 0%, 0%;
    --popover-foreground: 210 20% 98%;

    --primary: 262 83% 60%;
    --primary-foreground: 210 20% 98%;

    --secondary: 240 6% 10%;
    --secondary-foreground: 210 20% 98%;

    --muted: 240 6% 10%;
    --muted-foreground: 217.9 10.6% 64.9%;

    --accent: 240 6% 10%;
    --accent-foreground: 210 20% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;

    --border: 240 6% 10%;
    --input: 240 6% 10%;
    --ring: 262 83% 60%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border selection:bg-primary/30;
  }
  html {
    @apply scroll-smooth;
  }
  body {
    @apply bg-background font-merriweatherSans text-foreground;
  }
}

.cl-pageScrollBox::-webkit-scrollbar {
  @apply h-2 w-2;
}
.cl-pageScrollBox::-webkit-scrollbar-track {
  @apply rounded-md bg-primary bg-gradient-to-b from-background/60 to-secondary;
}
.cl-pageScrollBox::-webkit-scrollbar-thumb {
  @apply rounded-md bg-zinc-400/20 backdrop-blur hover:bg-zinc-500/50;
}
.cl-internal-b3fm6y {
  @apply hidden;
}
